.footer {
    background-color: var(--fondo);
    padding: 2rem;

    .contenedor {
        display: flex;
        justify-content: space-between;

        img {
            height: 40px;
            max-width:  100%;
            object-fit: contain;
        }
    }

    p {
        color: var(--lima);
        margin-right: 10rem;
    }
}
.izquierda {
    margin-left: 10rem;
}

