@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*============variables============*/

:root {
  --fondo: #29372b;
  --lima: #dee7a6;
  --verde: #adca8b;
  --naranja: #f07d00;
  --blanco: #f8f8f8;
  --negro: #1c1c1c;
  --gris: #e0e7d9;


  --fuente-textos: "Roboto", serif;
  --fuente-titulos: "Oswald", serif;
}


/*===============globales==============*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-textos);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--negro);
}

p {
  font-size: 1.7rem;
  color: var(--negro);
  line-height: 1.5;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 5rem 0;
  font-weight: 900;
  font-family: var(--fuente-titulos);
  letter-spacing: 0.3rem; 
  color: var(--fondo);
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 3rem;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}








