@import './Globales.css';

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--fondo);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    transition: padding 0.3s ease, background-color 0.3s ease;


}
.navbar.scrolled {
    padding: 2rem 0; /* Reduce el tamaño al hacer scroll */
    background-color: rgb(206, 14, 104); /* Verde semi-opaco */
  }


.navbar .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 40px; /* Ajusta la altura del logo según sea necesario */
    max-width: 100%; /* Asegura que la imagen no se desborde */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .navbar-menu li a {
    margin: 0 2rem;
    color: var(--blanco) !important;
    font-size: 1.8rem;
    font-family: var(--fuente-titulos);
    transition: 0.5s ease;
    

}
.navbar .navbar-menu li a:hover {
    color: var(--verde) !important;
}
.navbar-social {
    display: flex;
    align-items: center; /* Alinea verticalmente los iconos */
}

.navbar-social a {
    margin: 0 1.5rem;
    font-size: 1.5rem;
    color: var(--blanco);
    font-size: 1.8rem;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Estilos para móviles */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    }

    .navbar-logo, .navbar-social {
        width: 100%; /* Ocupan todo el ancho en móviles */
        justify-content: center; /* Centra los elementos */
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: var(--fondo);
        width: 200px;
        padding: 1rem;
        box-shadow: -2px 0 5px rgba(176, 219, 127, 0.384)
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 0;
        padding: 0.5rem 0;
    }

    .navbar-toggle {
        display: block;
        width: 100%; /* Ocupa todo el ancho en móviles */
        text-align: right; /* Alinea a la derecha el icono */
        color: var(--naranja);
    }
}