@import './Globales.css';

.navbar {
    background-color: var(--fondo);
    
    padding: 1rem;
}

.navbar .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 40px; /* Ajusta la altura del logo según sea necesario */
    max-width: 100%; /* Asegura que la imagen no se desborde */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 2rem;
    color: var(--lima) !important;
    font-size: 1.8rem;
    

}

.navbar-social {
    display: flex;
    align-items: center; /* Alinea verticalmente los iconos */
}

.navbar-social a {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Estilos para móviles */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    }

    .navbar-logo, .navbar-social {
        width: 100%; /* Ocupan todo el ancho en móviles */
        justify-content: center; /* Centra los elementos */
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #f8f8f8;
        width: 200px;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 0;
        padding: 0.5rem 0;
    }

    .navbar-toggle {
        display: block;
        width: 100%; /* Ocupa todo el ancho en móviles */
        text-align: right; /* Alinea a la derecha el icono */
    }
}